.button {
  width: 150px;
  padding: 10px 0;
  border-radius: 6px;
  background-color: #027dfa;
  font-size: 15px;
  line-height: 1.4;
  color: #fff;
}

.alert {
  position: fixed;
  right: 30px;
  bottom: 30px;
  left: 30px;
  padding: 20px;
  font-size: 14px;
  line-height: 1.4;
  color: #333;
  border-radius: 10px;
  background-color: #eee;
}
