.button {
  display: flex;
  align-items: center;
  margin-top: 18px;
  color: #5e5e5e;
  font-weight: 600;
  cursor: pointer;

  span[aria-hidden="true"] {
    margin-left: 10px;
  }

  &[aria-checked="true"] {
    .switch {
      background-color: #2ecc71;
      border-color: #2ecc71;

      &::before {
        background-color: #fff;
        left: auto;
        right: 3px;
      }
    }
  }

  &:focus {
    outline-offset: 2px;
    outline: 2px solid #2ecc71;
  }

  &:enabled {
    &:hover {
      box-shadow: 0 0 0 4px #eee;
    }
  }
}

.switch {
  position: relative;
  display: block;
  width: 50px;
  height: 25px;
  margin-left: 24px;
  border: 1px solid #ddd;
  border-radius: 25px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ddd;
    transform: translateY(-50%);
  }
}
