.button {
  display: flex;
  align-items: center;
  margin-top: 8px;
  padding: 10px;
  border: 0px solid #027dfa;
  color: #333;
  font-weight: 600;
  cursor: pointer;

  &:first-of-type {
    margin-top: 18px;
  }

  span[aria-hidden="true"] {
    margin-left: 10px;
  }

  &[aria-checked="true"] {
    .switch {
      background-color: #027dfa;
      border-color: #027dfa;

      &::before {
        background-color: #fff;
        left: auto;
        right: 3px;
      }
    }
  }

  &:focus,
  &:hover {
    padding: 8px;
    outline: none;
    border-width: 2px;
    background-color: #def;
  }
}

.switch {
  position: relative;
  display: block;
  width: 50px;
  height: 25px;
  margin-left: 24px;
  border: 1px solid #ddd;
  border-radius: 25px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ddd;
    transform: translateY(-50%);
  }
}
