.slider-container {
  touch-action: "none";
}

.slider {
  position: relative;
  margin: 0 24px;
}

.slider-label {
  color: #333;
}

.slider-track {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 24px;
  margin: 3px 0;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 6px;
    border-radius: 12px;
    background-color: #eee;
    transform: translateY(-50%);
  }

  .progress {
    position: absolute;
    top: 50%;
    left: 0;
    height: 6px;
    border-radius: 12px;
    background-color: #027dfa;
    transform: translateY(-50%);
  }
}

.slider-handle {
  position: absolute;
  z-index: 2;
  top: 25px;
  width: 24px;
  height: 24px;
  margin-left: -19px;
  padding: 2px;
  border-radius: 50%;
  box-sizing: content-box;
  cursor: pointer;
  outline: none;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin: {
      left: -12px;
      top: -12px;
    }
    border-radius: 50%;
    background-color: #027dfa;
  }

  &:focus,
  &:active {
    outline-offset: 3px;
    outline: 2px solid #333;

    &:before {
      box-shadow: 0 0 0 8px rgba(68, 189, 240, 0.2);
    }
  }

  &:hover {
    outline-offset: 3px;
    outline: 2px solid #333;

    &:before {
      box-shadow: 0 0 0 6px rgba(68, 189, 240, 0.1);
    }
  }
}

.slider-value {
  position: absolute;
  top: 18px;
  right: 40px;
  color: #333;
}
