.slider-container {
  touch-action: "none";
}

.slider {
  position: relative;
}

.slider-track {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 6px;
  margin: 12px 0;
  background-color: #eee;
  border-radius: 12px;
  cursor: pointer;

  .progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #027dfa;
  }
}

.slider-handle {
  position: absolute;
  z-index: 2;
  top: 50%;
  width: 34px;
  height: 34px;
  margin-left: -17px;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin: {
      left: -12px;
      top: -12px;
    }
    border-radius: 50%;
    background-color: #027dfa;
  }

  &:focus,
  &:active {
    &:before {
      box-shadow: 0 0 0 12px rgba(68, 189, 240, 0.2);
    }
  }

  &:hover {
    &:before {
      box-shadow: 0 0 0 10px rgba(68, 189, 240, 0.1);
    }
  }
}

.slider-value {
  position: absolute;
  top: 18px;
  right: 18px;
}
