.menubar {
  position: relative;
  display: inline-flex;
}

@mixin menuItem {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid transparent;
  font-size: 15px;
  line-height: 1.4;
  color: #333;

  &[aria-current="page"] {
    background-color: #027dfa;
    font-weight: 600;
    color: #fff;
  }

  &:focus,
  &:hover {
    border-color: #027dfa;
    background-color: #dceafe;
    color: #333;
    outline: 3px solid transparent;
    outline-offset: -3px;
  }
}

.menuitem {
  @include menuItem;

  &.has-selected-sub-menuitem {
    background-color: #027dfa;
    font-weight: 600;
    color: #fff;
  }
}

.menu-wrap {
  position: relative;
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  flex-direction: column;
  width: 160px;
  border: 1px solid #333;
  border-radius: 3px;

  .menuitem[aria-expanded="true"] + & {
    display: flex;
    background-color: #eee;
  }
}

.sub-menuitem {
  position: relative;

  @include menuItem;

  &[aria-current="page"] {
    padding-right: 40px;
    background-color: #dceafe;
    font-weight: 700;
    color: #027dfa;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 10px;
      width: 12px;
      height: 6px;
      border-bottom: 2px solid #027dfa;
      border-left: 2px solid #027dfa;
      transform: translateY(-50%) translateY(-2px) rotate(-45deg);
    }
  }
}
