.menubar {
  position: relative;
  display: flex;
}

.menuitem {
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  line-height: 1.4;

  &[aria-current="page"] {
    font-weight: 700;
    background-color: #ddd;
  }

  &:focus,
  &:hover {
    outline: 3px solid -webkit-focus-ring-color;
    outline-offset: -3px;
  }
}
