.detail {
  position: relative;
  display: flex;
  align-items: center;

  p {
    color: #333;
  }

  button {
    position: relative;
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    padding: 10px;
    background-color: #027dfa;
    border-radius: 50%;

    &::before {
      content: "?";
      display: inline-block;
      color: #fff;
    }
  }
}

.tooltip-container {
  position: absolute;
  top: 38px;
  left: 7px;
  padding: 10px 20px;
  background-color: #def;
  color: #333;

  &::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: calc(100% - 74px);
    width: 0px;
    height: 0px;
    border-bottom: 8px solid #def;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }
}
