.label {
  font-size: 16px;
  line-height: 1.4;
  color: #000;
}

.spinbutton-wrap {
  margin-top: 10px;
  display: flex;
}

.button-minus,
.button-plus {
  width: 36px;
  height: 36px;
  font-size: 24px;
  line-height: 1.4;
  color: #000;
  border: 1px solid #000;
  border-radius: 3px;
}

.spinbutton {
  box-sizing: border-box;
  width: 60px;
  height: 36px;
  padding: 0 4px;
  margin: 0 5px;
  font-size: 16px;
  line-height: 1.4;
  border: 1px solid #000;
  border-radius: 3px;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}
