.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: #027dfa;
  border-radius: 10px;
  color: #fff;

  &::before {
    content: "";
    display: block;
    width: 0;
    height: 14px;
    border-color: transparent transparent transparent #fff;
    border-style: double;
    border-width: 0px 0 0px 12px;
    background: transparent;
    box-sizing: border-box;
  }

  // 시각적인 상태 변화 표현
  &.pressed {
    background-color: #0a61b9;

    &::before {
      border-style: solid;
      border-width: 7px 0 7px 12px;
    }
  }
}
